body 
{
	font-family: 'Open Sans', sans-serif;
	color: #201b2d;
	font-size: 15px;
	padding: 0;
	margin: 0;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}



 h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}
h1, h2,{
margin: 0;
font-family: 'Ubuntu', sans-serif;
font-weight: 700;

}

p {
	line-height: 1.65em; 
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.header {
background: -moz-linear-gradient(-45deg, rgba(76,188,252,1) 0%, rgba(56,144,217,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(76,188,252,1)), color-stop(100%, rgba(56,144,217,1)));
background: -webkit-linear-gradient(-45deg, rgba(76,188,252,1) 0%, rgba(56,144,217,1) 100%);
background: -o-linear-gradient(-45deg, rgba(76,188,252,1) 0%, rgba(56,144,217,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(76,188,252,1) 0%, rgba(56,144,217,1) 100%);
background: linear-gradient(135deg, rgba(76,188,252,1) 0%, rgba(56,144,217,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cbcfc', endColorstr='#3890d9', GradientType=1 );
	padding-top: 100px;
	padding-bottom: 225px;
	color: #fff;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.offer {
	width: 490px;
}

.title {
	font-size: 35px;
}


.title span {
	color: #fff;
	font-size: 59px;
}

.intro {
	margin-bottom: 37px;
	margin-top: 30px;
	width: 380px;
}

.btn {
	font-family: 'Montserrat', sans-serif;
	background: #ed9619;
	color: #fff;
	border-radius: 100px;
	display: block;
	width: 205px;
	padding: 19px 0px;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
}

.btn:hover {
	background: #d9860e;
}

.desktop {
	margin-top: 72px;
}

.learn {
	padding-top: 108px;
	padding-bottom: 120px;
}

.section-title {
	font-size: 30px;
	text-align: center;
	
}

.skills {
	display: flex;	
	justify-content: space-between;
	margin-top: 70px;
}

.skill {
	width: 400px;
	background: url('../img/icon1.png') no-repeat center top;
	padding: 80px;
	text-align: center;


}

.skill-title {
	font-size: 18px;
}

.skill-text {
	margin-top: 7px;

}

.skill-free {
	width: 400px;
	background: url('../img/icon2.png') no-repeat center top;
}

.skill-change {
	background: url('../img/icon3.png') no-repeat center top;
}

.mail {
	background: #efecf4;
	padding-top: 173px;
	padding-bottom: 190px;
}

.form {
	margin-top: 20px;
	width max-width: 340px;
	display: block;

}
.input{ margin-bottom: 16px;

}

.input
{
	border: 0;
	cursor: pointer;
	display: inline;
	margin-left: 340px;
	display: block;
	width: 474px;
	padding: 19px 0;
	border-radius: 100px;
	text-align: center;

}

.btn-form {
	border: 0;
	cursor: pointer;
	display: inline;
	margin-left: 340px;
	display: block;
	width: 474px;
}

.footer {
	padding: 33px 0;
	background: #201b2d;
}

.credits {
	color: #d4cee3;
	font-size: 14px;
	margin: 0;
}
